<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>productID</key>
		<string>PID1</string>
		<key>productName</key>
		<string>Product 1</string>
	</dict>
	<dict>
		<key>productID</key>
		<string>PID2</string>
		<key>productName</key>
		<string>Product 2</string>
	</dict>
	<dict>
		<key>productID</key>
		<string>PID3</string>
		<key>productName</key>
		<string>Product 3</string>
	</dict>
	<dict>
		<key>productID</key>
		<string>PID4</string>
		<key>productName</key>
		<string>Product 4</string>
	</dict>
	<dict>
		<key>productID</key>
		<string>PID5</string>
		<key>productName</key>
		<string>Product 5</string>
	</dict>
</array>
</plist>
